<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="enixlin.jrrc.mapper.PowerMapper">


	<!-- -->
	<select id="getUserPowers" parameterType="User" resultType="Power">
		select jrrc_user.name as name,jrrc_auth_rule.title as
		powername,jrrc_auth_rule.`name` as url from jrrc_user left JOIN
		jrrc_auth_group_access

		on jrrc_user.id =jrrc_auth_group_access.uid

		inner JOIN jrrc_auth_group_copy

		on jrrc_auth_group_access.group_id=jrrc_auth_group_copy.group_id

		LEFT JOIN jrrc_auth_rule

		on jrrc_auth_group_copy.rules=jrrc_auth_rule.id

		where
		jrrc_user.id=#{id}

	</select>

</mapper>