<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="enixlin.jrrc.mapper.UserMapper">

	<sql id="select_where_sigle">
		<if test="user!=null and user.id!=null  ">
			id=${user.id}
		</if>
		<!-- <if test="user!=null and user.name!=null "> name=#{user.name} </if> 
			<if test="user.id!=null and user.name!=null "> name=#{user.name} and id=${user.id} 
			</if> -->
	</sql>


	<sql id="select_where">
		<if test="userList!=null">
			<foreach collection="userList" item="user" index="index"
				open="" close="" separator="or">
				id=#{user.id}
			</foreach>
		</if>

	</sql>



	<!--添加单个用户 -->

	<insert id="addUser" parameterType="UserQueryVo">
		insert into jrrc_user
		(name,password,status)
		value(#{user.name},#{user.password},${user.status})

	</insert>


	<!--添加多个用户 -->
	<insert id="addUsers" parameterType="UserQueryVo">
		<foreach collection="userList" item="user" index="index" open=""
			close="" separator=";">
			insert into jrrc_user
			(name,password,status)
			value(#{user.name},#{user.password},${user.status})
		</foreach>
	</insert>


	<!-- 删除单个用户 -->
	<delete id="deleteUser" parameterType="UserQueryVo">
		delete from jrrc_user
		where id=${user.id}
	</delete>


	<!-- 删除多个用户 -->
	<delete id="deleteUsers" parameterType="UserQueryVo">
		<foreach collection="userList" item="user" index="index" open=""
			close="" separator=";">
			delete from jrrc_user where id=${user.id}
		</foreach>
	</delete>

	<!--取得多个用户 -->
	<select id="getUsers" parameterType="UserQueryVo" resultType="User">
		select * from jrrc_user
		<where>
			<include refid="select_where"></include>
		</where>
	</select>


	<!--取得单个用户 -->
	<select id="getUser" parameterType="UserQueryVo" resultType="User">
		select * from jrrc_user
		<where>
			<include refid="select_where_sigle"></include>
		</where>
	</select>

	<!--  批量修改用户信息-->
	<update id="ModifyUser" parameterType="UserQueryVo">	
		<if test="user!=null">			
				update jrrc_user set
				name=${user.name},password=${user.password},status=${user.status},oa_password=${user.oa_password},oa_name=${user.oa_name}
				where id=${user.id}		
		</if>	
		<if test="userList!=null">
			<foreach collection="userList" item="user" index="index"
				open="" close="" separator=";">
				update jrrc_user set
				name=${user.name},password=${user.password},status=${user.status},oa_password=${user.oa_password},oa_name=${user.oa_name}
				where id=${user.id}
			</foreach>
		</if>
	</update>


</mapper>