<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录国际业务部信息查询系统</title>
    <link rel="stylesheet" type="text/css" href="/guojibu/Public/jquery-easyui-1.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/guojibu/Public/jquery-easyui-1.5/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/guojibu/Public/jquery-easyui-1.5/demo.css">
    <script type="text/javascript" src="/guojibu/Public/jquery-easyui-1.5/jquery.min.js"></script>
    <script type="text/javascript" src="/guojibu/Public/jquery-easyui-1.5/jquery.easyui.min.js"></script>
<!-- onmousedown="drag()" onmouseup="Canceldrag()" -->
</head>
<body onload="getUser()" onkeydown="doKey()">
    <div id="main_div" >
        <div id="bg_img_div" >  
            <div id="from_div"  >
            <div class="easyui-panel " title="欢迎使用国际业务信息查询" style="handle:'#from_div';width:100%;max-width:350px;padding:20px 30px;align:center" id="title"> 
                <div ></div>
            <form id="ff" method="post"  >
                <div style="margin-bottom:20px">
                    <input id="cc" name="name" label="户名" style="width:100%">
                </div>

                <div style="margin-bottom:20px">
                    <!-- <input  class="easyui-passwordbox" name="password" label="密码" style="width:100%;enable:true" id="pw"> -->
                    <input class="easyui-passwordbox" name="password" style="width:100%" data-options="label:'密码:'">
                </div>

             <div style="padding-right:0px;width:250px;border:0px solid #ccc;text-align:right;">
             
                    <a href="#" class="easyui-linkbutton"  style="padding-left:10px ;padding-right:10px ;margin-right:10px" iconCls="icon-no">重置</a>
                    <a href="#" class="easyui-linkbutton"  style="padding-left:10px ;padding-right:10px" iconCls="icon-ok" onclick="submit1()">登录</a>
            </div>

                
            </form>
            </div>
            </div>
        </div>
    </div>


</body>
</html>

<script type="text/javascript">

function doKey() {  
        if(event.keyCode == 13){
           submit1();
        }
    }


function getUser(){
    $.get('/guojibu/Home/Login/getUserNames', function(data1) {
        var json=eval(data1);
        $('#cc').combobox({
            data:data1,
            valueField:'name',
            textField:'name'
        });
    });
}



function submit1(){
var dd=$("#ff").serialize();
$.post('/guojibu/Home/Login/valitUser',dd, function(data, textStatus, xhr) {
   if(data=="no matcher user"){
    alert("密码或用户名错误");
   }else{
    window.location.href = "/guojibu/Home/Index";
   }
});
}


$("#bg_img_div").css({
            "border" : "0px solid gray",
            "background-Image":"url('/guojibu/Public/res/image/Login-bg.jpg')",
            "height" : "500px",
            "width":"1000px",
            "margin":"20px auto",
});

$("#main_div").css({
            "width":"100%",
           "text-align":"center"
});

$("#from_div").css({
            "width":"100%",
            "max-width":"350px",
            "padding":"10px",
           "float":"right",
           "margin":"160px 30px",
           
          
});


function drag(){
    $('#from_div').draggable({
});
}
function Canceldrag(){
    $('#from_div').draggable({
disabled:"true"
    });
}





</script>